In [38]:
import streamlit as st
import mysql.connector
from faker import Faker
import random

# Initialize Faker
fake = Faker()


class mySqlDBclass:
    def __init__(self,host,user,password,port,database):
      self.host=host
      self.user=user
      self.password=password
      self.port=port
      self.database=database
      self.conn=None
      self.cursor=None
      self.connect()
    def connect(self):
      self.conn=mysql.connector.connect(host=self.host,user=self.user,password=self.password,port=self.port,database=self.database)
      self.cursor=self.conn.cursor()
      print("DB Connection Successful!")
    def disconnect(self):
      if self.cursor:
        self.cursor.close()
        print("DB Connection Closed!")
    def Execute_Query(self,table_query):
      self.cursor.execute(table_query)
      self.conn.commit()
      print(f"Query Executed Successfully!")
    def insert_Values(self,insert_query,insertValues):
      self.cursor.executemany(insert_query,insertValues)
      self.conn.commit()
      print(f"Inserted Successfully!")

#initialize db config
config = {"host":"gateway01.ap-southeast-1.prod.aws.tidbcloud.com", "user":"2B9qSGSxQso7gBp.root", "port":4000, "password":"nLUDS0fz3HRQatbm", "database":"SAMPLEZOM"}
db_obj = mySqlDBclass(**config)

DB Connection Successful!

In [ ]:
TQ = "create table if not exists emp_table (id int auto_increment primary key, name varchar(100), phone_number varchar(15),email varchar(200))"
db_obj.Execute_Query(TQ)

Table Created Successfully!

In [28]:
Emp_table = []
for i in range(1,100):
  Emp_table.append((fake.name(),fake.unique.phone_number(), fake.unique.email()))

In [42]:
fake = Faker(["en_IN"])

In [47]:
IQ = """ALTER TABLE `SAMPLEZOM`.`emp_table`
ADD COLUMN `location` TEXT NULL AFTER `phone`,
ADD COLUMN `signup_date` DATETIME NULL AFTER `location`,
ADD COLUMN `is_premium` TINYINT(1) NULL DEFAULT '0' AFTER `signup_date`,
ADD COLUMN `preferred_cuisine` VARCHAR(100) NULL DEFAULT NULL AFTER `is_premium`,
ADD COLUMN `total_orders` INT(11) NULL DEFAULT '0' AFTER `preferred_cuisine`,
ADD COLUMN `average_rating` DECIMAL(3,2) NULL DEFAULT NULL AFTER `total_orders`;"""
db_obj.Execute_Query(IQ)

ProgrammingError: 1054 (42S22): Unknown column 'location' in 'emp_table'

In [48]:
fake.address()

'439, Virk Marg\nAligarh-119562'

In [50]:
from faker import Faker
from faker.providers import BaseProvider

class ChennaiAddressProvider(BaseProvider):
    def chennai_address(self):
        chennai_localities = [
            "T. Nagar", "Adyar", "Velachery", "Anna Nagar", "Mylapore", "Guindy",
            "Tambaram", "Perungudi", "Kodambakkam", "Nungambakkam", "Kilpauk","Chrompet"
        ]
        street = self.generator.street_name()
        locality = self.random_element(chennai_localities)
        return f"{street}, {locality}, Chennai, Tamil Nadu, India - {self.generator.postcode()}"

fake = Faker('en_IN')
fake.add_provider(ChennaiAddressProvider)

# Example Usage
for _ in range(100):
    print(fake.chennai_address())

Sinha Ganj, Adyar, Chennai, Tamil Nadu, India - 143483
Nagar Nagar, Mylapore, Chennai, Tamil Nadu, India - 852151
Bose Nagar, Chrompet, Chennai, Tamil Nadu, India - 010788
Jhaveri Path, Velachery, Chennai, Tamil Nadu, India - 227427
Devan Street, Adyar, Chennai, Tamil Nadu, India - 692466
Krishna Nagar, Kodambakkam, Chennai, Tamil Nadu, India - 659961
Shanker Path, Velachery, Chennai, Tamil Nadu, India - 689493
Iyer Circle, Adyar, Chennai, Tamil Nadu, India - 694461
Bail Road, Nungambakkam, Chennai, Tamil Nadu, India - 578790
Bhandari Ganj, Mylapore, Chennai, Tamil Nadu, India - 615104
Dalal, Velachery, Chennai, Tamil Nadu, India - 380071
Naidu Circle, Nungambakkam, Chennai, Tamil Nadu, India - 796572
Kothari Ganj, Kodambakkam, Chennai, Tamil Nadu, India - 709855
Sood Nagar, Kilpauk, Chennai, Tamil Nadu, India - 399139
Muni Road, Guindy, Chennai, Tamil Nadu, India - 545124
Gara Path, Guindy, Chennai, Tamil Nadu, India - 903689
Lall Road, Velachery, Chennai, Tamil Nadu, India - 442770
Singh Road, Anna Nagar, Chennai, Tamil Nadu, India - 623209
Ramakrishnan Ganj, Chrompet, Chennai, Tamil Nadu, India - 845675
Varma Marg, Nungambakkam, Chennai, Tamil Nadu, India - 170348
Mammen, Tambaram, Chennai, Tamil Nadu, India - 772773
Sarkar Circle, Perungudi, Chennai, Tamil Nadu, India - 782263
Mander Path, Guindy, Chennai, Tamil Nadu, India - 078776
Hora Nagar, Tambaram, Chennai, Tamil Nadu, India - 460588
Bajaj Road, Nungambakkam, Chennai, Tamil Nadu, India - 187137
Prabhakar, Kilpauk, Chennai, Tamil Nadu, India - 738355
Palla Nagar, Nungambakkam, Chennai, Tamil Nadu, India - 958401
Oommen Road, Kodambakkam, Chennai, Tamil Nadu, India - 560590
Rege Chowk, Kodambakkam, Chennai, Tamil Nadu, India - 156139
Mand Zila, Adyar, Chennai, Tamil Nadu, India - 989690
Chaudhry Zila, Mylapore, Chennai, Tamil Nadu, India - 228511
Brahmbhatt Path, Adyar, Chennai, Tamil Nadu, India - 329414
Chawla Circle, Chrompet, Chennai, Tamil Nadu, India - 822202
Handa Chowk, Guindy, Chennai, Tamil Nadu, India - 322420
Rajan Path, Mylapore, Chennai, Tamil Nadu, India - 331387
Bahl Road, Nungambakkam, Chennai, Tamil Nadu, India - 074237
Wali Chowk, Chrompet, Chennai, Tamil Nadu, India - 544623
Mane Road, Adyar, Chennai, Tamil Nadu, India - 994517
Dugar Marg, Chrompet, Chennai, Tamil Nadu, India - 174361
Kalita Ganj, Kodambakkam, Chennai, Tamil Nadu, India - 955325
Dass Road, Mylapore, Chennai, Tamil Nadu, India - 084011
Arya Ganj, Kodambakkam, Chennai, Tamil Nadu, India - 919280
Butala Street, Velachery, Chennai, Tamil Nadu, India - 235973
Nadig Marg, Kilpauk, Chennai, Tamil Nadu, India - 825737
Sangha Road, Nungambakkam, Chennai, Tamil Nadu, India - 756180
Sahni Street, Chrompet, Chennai, Tamil Nadu, India - 926823
Pai Marg, Kodambakkam, Chennai, Tamil Nadu, India - 268843
Pradhan Path, Chrompet, Chennai, Tamil Nadu, India - 625460
Prashad Zila, Kodambakkam, Chennai, Tamil Nadu, India - 322152
Iyer Nagar, Kodambakkam, Chennai, Tamil Nadu, India - 927483
Kar Nagar, Nungambakkam, Chennai, Tamil Nadu, India - 744616
Hari Circle, Tambaram, Chennai, Tamil Nadu, India - 609221
Bandi Chowk, Guindy, Chennai, Tamil Nadu, India - 921614
Tank Street, Nungambakkam, Chennai, Tamil Nadu, India - 994202
Munshi Circle, Kilpauk, Chennai, Tamil Nadu, India - 579182
Mand Path, Anna Nagar, Chennai, Tamil Nadu, India - 783064
Bhatia Chowk, Kilpauk, Chennai, Tamil Nadu, India - 689625
Prabhu, Mylapore, Chennai, Tamil Nadu, India - 605609
Dayal, Perungudi, Chennai, Tamil Nadu, India - 292326
Dewan Path, Kilpauk, Chennai, Tamil Nadu, India - 337082
Prakash Ganj, T. Nagar, Chennai, Tamil Nadu, India - 791314
Rattan Street, Perungudi, Chennai, Tamil Nadu, India - 563061
Issac Chowk, Chrompet, Chennai, Tamil Nadu, India - 039287
Tank, Kodambakkam, Chennai, Tamil Nadu, India - 924536
Talwar Marg, Perungudi, Chennai, Tamil Nadu, India - 556688
Bhatia Zila, Mylapore, Chennai, Tamil Nadu, India - 874089
Mishra Road, Chrompet, Chennai, Tamil Nadu, India - 422250
Dugal Street, Mylapore, Chennai, Tamil Nadu, India - 796191
Borde Nagar, Adyar, Chennai, Tamil Nadu, India - 155064
Char Ganj, Guindy, Chennai, Tamil Nadu, India - 319531
Date, Kilpauk, Chennai, Tamil Nadu, India - 680313
Ramachandran Circle, Perungudi, Chennai, Tamil Nadu, India - 108590
Venkataraman Circle, Chrompet, Chennai, Tamil Nadu, India - 634899
Gala Circle, Guindy, Chennai, Tamil Nadu, India - 179030
Setty Street, Kodambakkam, Chennai, Tamil Nadu, India - 574870
Buch Street, T. Nagar, Chennai, Tamil Nadu, India - 114775
Goswami Road, Velachery, Chennai, Tamil Nadu, India - 487450
Kakar Marg, T. Nagar, Chennai, Tamil Nadu, India - 532279
Rama Nagar, Adyar, Chennai, Tamil Nadu, India - 034620
Deo Circle, Perungudi, Chennai, Tamil Nadu, India - 524593
Oza Nagar, Velachery, Chennai, Tamil Nadu, India - 592682
Bahri Chowk, Guindy, Chennai, Tamil Nadu, India - 544975
Bala Zila, Mylapore, Chennai, Tamil Nadu, India - 044711
Sankaran Marg, Mylapore, Chennai, Tamil Nadu, India - 090725
Contractor Circle, Anna Nagar, Chennai, Tamil Nadu, India - 305797
Datta Path, Velachery, Chennai, Tamil Nadu, India - 176626
Setty Path, Guindy, Chennai, Tamil Nadu, India - 269682
Kannan Road, Kilpauk, Chennai, Tamil Nadu, India - 062397
Dhar Ganj, Nungambakkam, Chennai, Tamil Nadu, India - 490632
Bava Chowk, Adyar, Chennai, Tamil Nadu, India - 513765
Bhardwaj, Kodambakkam, Chennai, Tamil Nadu, India - 001579
Mohan, T. Nagar, Chennai, Tamil Nadu, India - 189283
Sankar Circle, Perungudi, Chennai, Tamil Nadu, India - 669687
Lad, Nungambakkam, Chennai, Tamil Nadu, India - 682265
Sankaran Path, Velachery, Chennai, Tamil Nadu, India - 177575
Seth Ganj, Guindy, Chennai, Tamil Nadu, India - 195900
Chakraborty Road, Perungudi, Chennai, Tamil Nadu, India - 447431
Walia Street, Mylapore, Chennai, Tamil Nadu, India - 098707
Savant Street, Kilpauk, Chennai, Tamil Nadu, India - 027036
Das Nagar, Adyar, Chennai, Tamil Nadu, India - 172334

In [ ]:
TQ = """CREATE TABLE IF NOT EXISTS  tbl_customers (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    phone VARCHAR(20) UNIQUE NOT NULL,
    location TEXT NOT NULL,
    signup_date DATE NOT NULL,
    is_premium BOOLEAN DEFAULT FALSE,
    preferred_cuisine VARCHAR(100),
    total_orders INT DEFAULT 0,
    average_rating DECIMAL(3,2) CHECK (average_rating BETWEEN 0.00 AND 5.00)
);"""
db_obj.Execute_Query(TQ)

Table Created Successfully!

In [ ]:
TQ = """CREATE TABLE IF NOT EXISTS tbl_restaurant (
    restaurant_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    cuisine_type VARCHAR(100) NOT NULL,
    location TEXT NOT NULL,
    owner_name VARCHAR(255) NOT NULL,
    average_delivery_time INT CHECK (average_delivery_time >= 0),
    contact_number VARCHAR(20) UNIQUE NOT NULL,
    rating DECIMAL(2,1) CHECK (rating BETWEEN 1.0 AND 5.0),
    total_orders INT DEFAULT 0,
    is_active BOOLEAN DEFAULT TRUE
);"""
db_obj.Execute_Query(TQ)

Table Created Successfully!

In [ ]:
TQ="""CREATE TABLE IF NOT EXISTS tbl_orders (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT NOT NULL,
    restaurant_id INT NOT NULL,
    order_date DATETIME NOT NULL,
    delivery_time DATETIME,
    status ENUM('Pending', 'Delivered', 'Cancelled') NOT NULL DEFAULT 'Pending',
    total_amount DECIMAL(10,2) NOT NULL CHECK (total_amount >= 0),
    payment_mode ENUM('Credit Card', 'Cash', 'UPI') NOT NULL,
    discount_applied DECIMAL(10,2) DEFAULT 0 CHECK (discount_applied >= 0),
    feedback_rating DECIMAL(2,1) CHECK (feedback_rating BETWEEN 1.0 AND 5.0),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id) ON DELETE CASCADE,
    FOREIGN KEY (restaurant_id) REFERENCES tbl_restaurant(restaurant_id) ON DELETE CASCADE
);"""
db_obj.Execute_Query(TQ)

Table Created Successfully!

In [ ]:
TQ="""CREATE TABLE IF NOT EXISTS tbl_deliveries (
    delivery_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT NOT NULL,
    delivery_person_id INT,
    delivery_status ENUM('On the way', 'Delivered', 'Failed') NOT NULL DEFAULT 'On the way',
    distance DECIMAL(5,2) CHECK (distance >= 0),
    delivery_time INT CHECK (delivery_time >= 0),
    estimated_time INT CHECK (estimated_time >= 0),
    delivery_fee DECIMAL(10,2) CHECK (delivery_fee >= 0),
    vehicle_type ENUM('Bike', 'Car', 'Scooter', 'Bicycle') NOT NULL,
    FOREIGN KEY (order_id) REFERENCES tbl_orders(order_id) ON DELETE CASCADE,
    FOREIGN KEY (delivery_person_id) REFERENCES tbl_delivery_persons(delivery_person_id) ON DELETE SET NULL
);
"""
db_obj.Execute_Query(TQ)

Table Created Successfully!

In [ ]:
TQ="""
CREATE TABLE IF NOT EXISTS tbl_delivery_persons (
    delivery_person_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    contact_number VARCHAR(20) UNIQUE NOT NULL,
    vehicle_type ENUM('Bike', 'Car', 'Scooter', 'Bicycle') NOT NULL,
    total_deliveries INT DEFAULT 0 CHECK (total_deliveries >= 0),
    average_rating DECIMAL(2,1) CHECK (average_rating BETWEEN 1.0 AND 5.0),
    location TEXT NOT NULL
);"""
db_obj.Execute_Query(TQ)

Table Created Successfully!

In [51]:
fake.date()

'2015-09-08'

In [ ]:
CustTable = []
for i in range(1,100):
  CustTable.append((fake.name(),fake.unique.email(),fake.unique.phone_number(), fake.unique.email()))